
# Python
__pycache__/
*.pyc
.venv/
.env

# DVC local cache (remote artifacts are in GCS)
.dvc/tmp/
.dvc/cache/

# Binaries / datasets (we'll fetch via DVC in CI)
*.joblib
*.pkl
*.parquet
*.csv
*.npy

# Notebooks checkpoints
.ipynb_checkpoints/

# OS noise
.DS_Store
