name: Deploy to Cloud Run

on:
  push:
    branches:
      - ga6-cd

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: docker build -t us-central1-docker.pkg.dev/hybrid-shine-474105-e1/iris-api-repo/iris-api:latest .

      - name: Push Docker image to Artifact Registry
        run: docker push us-central1-docker.pkg.dev/hybrid-shine-474105-e1/iris-api-repo/iris-api:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy iris-api \
            --image us-central1-docker.pkg.dev/hybrid-shine-474105-e1/iris-api-repo/iris-api:latest \
            --region us-central1 \
            --platform managed \
            --allow-unauthenticated

